#https://realpython.com/python-speech-recognition/#the-recognizer-class
pyaudio
#Pyaudio Probleme?: https://stackoverflow.com/questions/52283840/i-cant-install-pyaudio-on-windows-how-to-solve-error-microsoft-visual-c-14

#   Wenn Windows: pip install pipwin    --> pipwin install pyaudio          pipwin install pocketsphinx
#   wenn es nicht funktioniert: pipwin refresh


pocketsphinx

SpeechRecognition

pafy
vlc
youtube_dl
#bs4 
requests
python_weather
pycamera